{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hw5/style.css' %}" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show tasks</title>
</head>
<body>

    <h1> Here is list of Tasks </h1>

    {% if task_list %}

    <ul>
        {% for task in task_list %}

            <li>
                {% if task.days < 3  %}
                    <p style="color: red;">{{ task.estimate }} {{ task.title }}</p>
                {% else %}
                {{ task.estimate }} {{ task.title }}
                {% endif %}
                <form action="/edit_task/" method = "get">
                     <input type="submit" value="Edit">
                </form>
            </li>
        {% endfor %}
    </ul>

    {% else %}

        <p>No tasks is presented here.<br /> Add new task</p>
        <form action="/task/" method = "get">
            <input type="submit" value="New task">
        </form>

    {% endif %}

</body>
</html>