{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hw6/style.css' %}" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ object}}" ?
    <br />
    <table class="table">
	            <tr class='row'>
	                <td><input type="submit" value="Yes" /></td>
                    <td><a href="{% url "show_roadmaps" %}"><input type="button" value="No " /></a></td>
                </tr>
    </table>
</form>