{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hw6/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'hw6/table.css' %}" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Roadmaps</title>
</head>
<body>
    <h1> Here is list of Roadmaps</h1>

    {% if roadmaps_list %}
    <div class="table-responsive ">
        	<table class="table_col">
                <colgroup>
                     <col style="background:#00008B;">
                </colgroup>
        		{% for roadmap in roadmaps_list %}
	            <tr>
	                <td>{{ roadmap.roadmap_name }}</td>
	                <td><a href="{% url "tasks" pk=roadmap.pk %}"><input type="button" value="Show tasks"/></a></td>
	                <td><a href="{% url "roadmap_delete" pk=roadmap.pk %}"><input type="button" value="Delete roadmap"/></a></td>
                </tr>
         		{% endfor %}
        	</table>
    </div>
    {% else %}
        <p>No Roadmaps is presented here.</p>
        <br />
    {% endif %}
    <br />
    <table>
	            <tr>
	                <th><form action="/roadmap/" method = "get"><input type="submit" value="New Roadmap"></form></th>
                    <th><form action="/" method = "get"><input align="bottom" type="submit"  value="Go back home"></form></th>
                </tr>
    </table>
</body>
</html>