{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hw6/style.css' %}" />


<html>
    <head>
        <meta charset="utf-8">
        <title> New task </title>
    </head>
    <body>

        <h1> Here is new task page. <br /> Type title and estimate </h1>

        {% if error_title %}
            <p style="color: red;">Please submit correct title.</p>
        {% endif %}

        {% if error_estimate %}
            <p style="color: red;">Please submit correct estimate format XXXX-XX-XX.</p>
        {% endif %}

        <form action="" method="get">
            <input type="text" placeholder="title" name="title" > <br/><br/>
            <input type="text" placeholder="estimate"name="estimate"><br/><br/>
            <input type="submit" value="Save"><br/>
        </form>

        <form action="/" method = "get">
            <input type="submit" value="Go back home">
        </form>

    </body>
</html>